---
layout: archive
---

{{ content }}

<p class="page__taxonomy">
  <strong><i class="fas fa-fw fa-language" aria-hidden="true"></i> Language </strong>
  <span itemprop="keywords">
    <a href="{{ '/zh/' | relative_url }}" class="page__taxonomy-item p-category" rel="tag">中文</a><span class="sep">, </span>
    <a href="{{ '/en/' | relative_url }}" class="page__taxonomy-item p-category" rel="tag">English</a>
  </span>
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% if page.lang %}
    {% assign posts = site.posts %}
  {% elsif paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% for post in posts %}
    {% if post.hidden != true %}
      {% assign post_lang = post.lang | default: site.default_lang %}
      {% if page.lang == nil or post_lang == page.lang %}
        {% include archive-single.html type=entries_layout %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}
